<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body style="background-image: url('https://images.pexels.com/photos/1144176/pexels-photo-1144176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');background-size: cover;">
    <center>
        <h1>Blog App</h1><br><br><br><br><br><br><br><br><br><br><br>
        <button style="font-size: 18px;font-family:'Times New Roman', Times, serif;;" onclick="window.location.href='/login'">Login</button><br><br>

    </center>
</body>

</html>    