<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body style="background-image: url('https://images.pexels.com/photos/772803/pexels-photo-772803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');background-size: cover;">
    <center>
        <form method="POST" action="/login">
        <h1>Welcome To The Blog App</h1><br><br><br><br><br><br><br><br><br><br><br>
        Email: <input type="text" placeholder="Enter Your Email" name="email"><br><br>
        Password: <input type="password" placeholder="Enter Your Passwprd" name="password"><br><br>
        <input type="submit" value="submit" ><br><br>
        <a href="/signup">Create An Account</a><br><br>
        </form>
    </center>
</body>
</html>